# time 모듈

In [1]:
import time

## time 메서드
Unix timestamp를 소수로 반환한다.
> [Unix timestamp은 1970년 1월 1일 00:00:00 UTC부터 몇 초 경과했는지를 스칼라 실수로 나타낸다.](https://ko.wikipedia.org/wiki/%EC%9C%A0%EB%8B%89%EC%8A%A4_%EC%8B%9C%EA%B0%84)

In [24]:
time.time()

1686289275.3927498

## gmtime 메서드
timestamp값을 GMT(그리니치 평균시) 기준의 struct_time 값으로 변환해 준다.

In [26]:
time.gmtime(1686289275.3927498)

time.struct_time(tm_year=2023, tm_mon=6, tm_mday=9, tm_hour=5, tm_min=41, tm_sec=15, tm_wday=4, tm_yday=160, tm_isdst=0)

## loacltime 메서드
timestamp값을 현지 기준의 struct_time 값으로 변환해 준다.

In [27]:
time.localtime(1686289275.3927498)

time.struct_time(tm_year=2023, tm_mon=6, tm_mday=9, tm_hour=14, tm_min=41, tm_sec=15, tm_wday=4, tm_yday=160, tm_isdst=0)

## ctime 메서드
timestamp값을 현지 시간대 기준으로 `월 일 시:분:초 년` 으로 포멧으로 변환해 준다.

In [28]:
time.ctime(1686289275.3927498)

'Fri Jun  9 14:41:15 2023'

## strftime 메서드
struct_time객체를 포맷팅 str객체로 반환

In [32]:
t = time.localtime(1686289275.3927498)
time.strftime('%Y-%m-%d %I:%M:%S %p', t)

'2023-06-09 02:41:15 PM'

## strptime 메서드
strftime 반대 struct_time객체로 반환

In [34]:
string ='2023-06-09 02:41:15 PM'
time.strptime(string, '%Y-%m-%d %I:%M:%S %p' )

time.struct_time(tm_year=2023, tm_mon=6, tm_mday=9, tm_hour=14, tm_min=41, tm_sec=15, tm_wday=4, tm_yday=160, tm_isdst=-1)

## sleep
지연

In [38]:
%time time.sleep(5)
print('5초 뒤')

Wall time: 5.01 s
5초 뒤

In [39]:
time?

### 번외

In [80]:
t = time.localtime(time.time())
t

time.struct_time(tm_year=2023, tm_mon=6, tm_mday=9, tm_hour=15, tm_min=3, tm_sec=31, tm_wday=4, tm_yday=160, tm_isdst=0)

In [81]:
t.tm_year

2023

In [82]:
for i in t:
    print(i)

2023
6
9
15
3
31
4
160
0

#### 포맷팅
요일

In [83]:
time.strftime('요일: %a,  %A, %w', t)

'요일: Fri,  Friday, 5'

일, 월

In [84]:
time.strftime('일: %d, 월: %b, %B, %m', t)

'일: 09, 월: Jun, June, 06'

연도

In [85]:
time.strftime('연도: %y, %Y', t)

'연도: 23, 2023'

시간

In [86]:
time.strftime('시간: %H, %I %p', t)

'시간: 15, 03 PM'

분, 초, 시간대

In [87]:
time.strftime('분: %M, 초: %S, 시간대: %Z', t)

'분: 03, 초: 31, 시간대: 대한민국 표준시'

1월 1일부터 경과한 일수

In [88]:
time.strftime('1월 1일부터 경과한 일수: %j', t)

'1월 1일부터 경과한 일수: 160'

주 시작 일수

In [89]:
print(time.strftime('일요일이 한 주의 시작으로 한 일수: %U', t),
      time.strftime('월요일이 한 주의 시작으로 한 일수: %W', t), sep='\n')

일요일이 한 주의 시작으로 한 일수: 23
월요일이 한 주의 시작으로 한 일수: 23

요일 월 일 시간 년도 기준

In [90]:
time.strftime('%c',t)

'Fri Jun  9 15:03:31 2023'

월 일 년

In [91]:
time.strftime('%x',t)

'06/09/23'

시 분 초

In [92]:
time.strftime('%X',t)

'15:03:31'

# datetime 모듈

In [154]:
import datetime as dt

In [155]:
from datetime import datetime

## datetime 메서드
날짜 시간 구하기

In [156]:
datetime.today()

datetime.datetime(2023, 6, 9, 15, 24, 37, 398350)

In [157]:
datetime.now()

datetime.datetime(2023, 6, 9, 15, 24, 40, 478673)

UTC(국제 표준시) 기준으로 구하기

In [109]:
import pytz

In [143]:
dt.now(pytz.timezone('UTC'))

datetime.datetime(2023, 6, 9, 6, 23, 3, 502478, tzinfo=<UTC>)

### 시간 객체 만들기

In [159]:
d = datetime(2023, 6, 9)
d

datetime.datetime(2023, 6, 9, 0, 0)

#### strftime 메소드
time strftime과 비슷하다. datetime객체를 string객체로 반환

In [116]:
string = d.strftime('%Y-%m-%d')
string

'2023-06-09'

#### strptime 메소드
time strptime과 비슷하다. string객체를 datetime객체로 반환

In [120]:
d.strptime(string, '%Y-%m-%d')

datetime.datetime(2023, 6, 9, 0, 0)

In [160]:
d = datetime.today()
d.year, d.month, d.day, d.hour, d.minute, d.second, d.microsecond

(2023, 6, 9, 15, 24, 53, 576722)

#### 날짜와 시간 차이 계산

In [161]:
d = datetime(2023, 6, 9)
d - dt.timedelta(days=10)

datetime.datetime(2023, 5, 30, 0, 0)

In [164]:
datetime(2023, 6 ,9) - datetime(2023, 5, 30, 0, 0)

datetime.timedelta(days=10)